.header-outer-container {
  position: fixed;
  top: 0;
  display: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 20, 20);
  background-color: transparent;
  width: 100%;
  padding: 20px;
  height: 10vh;
  color: white;
  transition: all o.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}

.header-right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}