
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap');


:root {
  --font-base:san-serif;
  --font-second-base: "Inter", san-serif;
  --bg-color: #111;
  --primary-color: #fff;
  --secondary-color: #e50914;
}

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #111;
}